@model MvcBookStore.Models.genreModel

@{
    ViewBag.Title = "Create";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
   
    <fieldset>
        <legend>genreModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Genre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Genre)
            @Html.ValidationMessageFor(model => model.Genre)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<p>
                                  @* Since, Viewbag is used instead of model /use of IEnumerable because ViewBag.genres is of list type*@
        @Html.Partial("_GenView",(IEnumerable<MvcBookStore.Models.genreModel>)@ViewBag.genres)
  </p>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
